
<div class="recipe-show">
  <div class="recipe-box">
    <div class="recipe-img-content">
      <%= image_tag @recipe.image, class:"recipe-box-img" %>
    </div>
    <% if user_signed_in? && current_user.id == @recipe.user_id %>
        <a class="more_list">
            <%= button_to '編集', edit_recipe_path(@recipe.id), method: :get, class: "edit-recipe" %>
            <%= button_to '削除', recipe_path(@recipe.id), method: :delete, class: "destroy-recipe" %>
        </a>
      <% end %>
     <h2 class="name">
      <%= @recipe.title %>
     </h2>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">投稿者</th>
          <td class="detail-value"><%= @recipe.user.nickname %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @recipe.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">目安時間</th>
          <td class="detail-value"><%= @recipe.cooking_time.name %></td>
        </tr>
        <tr>
          <th class="detail-item">分量</th>
          <td class="detail-value"><%= @recipe.quantity.name %></td>
        </tr>
        <tr>
          <th class="detail-item">材料</th>
          <td class="detail-value"><%= @recipe.ingredients %></td>
        </tr>
        <tr>
          <th class="detail-item">作り方</th>
          <td class="detail-value"><%= @recipe.process %></td>
        </tr>
        <tr>
          <th class="detail-item">時短・味付けポイント</th>
          <td class="detail-value"><%= @recipe.point %></td>
        </tr>
      <%if @recipe.extra.present? %>
        <tr>
          <th class="detail-item">応用編</th>
          <td class="detail-value"><%= @recipe.extra %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
